
/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}

.container {
    margin: 30px;
    padding: 10px;
    border: 2px solid #d000ff;
}

header, nav, main, aside, footer {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
}

/* Adjusting Layout with Various Properties */
header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: lightgreen;
    margin: 10px 0;
    padding: 20px;
    float: left;
    width: 20%;
}

main {
    background-color: lightyellow;
    margin-left: 22%;
    padding: 20px;
    height: 300px;
}

aside {
    background-color: lightcoral;
    margin: 10px;
    padding: 20px;
    float: right;
    width: 25%;
}

footer {
    clear: both;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}


img {
    transition: transform 0.5s ease; 
}

img:hover {
    transform: scale(1.1); 
}


.animated-header {
    background-color: rgb(197, 173, 230);  
    color: rgb(78, 0, 120);                 
    padding: 20px;               
    text-align: center;           
    transition: background-color 0.5s ease, transform 0.5s ease; 
    font-size: 24px;             
}

.animated-header:hover {
    background-color: purple;   
    transform: scale(1.2);     
    color: white;                
}

body {
    margin: 0;
    font-family: 'Noto Sans', 'Noto Sans CJK SC', 'Noto Sans KR', sans-serif;
}

.container {
    display: flex; 
}

ul {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    text-transform: lowercase;
    line-height: 1.8;
    letter-spacing: 1px;
    padding: 50px;
    margin: 30px;
    border: 2px solid rgb(102, 0, 255);
    width: 350px;
    box-sizing: border-box; 
    transition: all 0.5s ease; 
}

.image {
    max-width: 50%;  
    height: auto;     
    display: block;   
}

ul:hover {
    width: 100vw; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; 
}